---
layout: default
---

<div class="jumbotron jumbotron-header jumbotron-post-header d-flex align-items-center">
  <div class="container text-light text-center">
    <h1 class="display-4">{{ page.title | escape }}</h1>
    {% if page.subtitle %}
      <h2 class="display-5">{{ page.subtitle | escape }}</h2>
    {% endif %}
  </div>
</div>


<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-10 col-xl-9">
      <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
        <header class="post-header">
          <p class="post-meta">
            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
              {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
              {{ page.date | date: date_format }}
            </time>
            {% if page.author %}
              • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
            {% endif %}</p>
        </header>

        <div class="post-content" itemprop="articleBody">
          {{ content }}
        </div>

        {% if site.disqus.shortname %}
          {% include disqus_comments.html %}
        {% endif %}
      </article>
    </div>
  </div>
</div>
